@media screen and (max-width: 767px) {
  /*Ultilies*/
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0 auto;
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    background-color: rgb(225, 231, 232);
  }

  p {
    font-family: sans-serif;
    font-size: 18px;
  }

  h1 {
    border-bottom: 0.5px solid grey;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  a {
    padding: 24px;
    font-size: 24px;
  }

  .container1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    padding-top: 12px;
  }

  /*Goals*/

  .goal {
    display: flex;
    gap: 48px;
    align-items: center;
    border-bottom: 0.5px solid grey;
    border-collapse: collapse;
  }

  .icon {
    width: 48px;
    height: 48px;
    color: blue;
    align-items: center;
  }

  /*Scopes*/

  .scopes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .scopes-in-out {
    display: block;
    width: auto;
  }
  .scopes-in-out ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /*Team*/

  .team {
    display: flex;
    gap: 48px;
  }

  /*Primary*/

  .primary {
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: center;
  }

  /*Timeline*/
  .project-info {
    display: flex;
    gap: 32px;
  }
  .project-info span {
    font-size: 24px;
    padding: 24px 12px;
    background-color: #74992e;
    border-radius: 50%;
    color: aliceblue;
    align-items: center;
  }
  .project-info p {
    border-bottom: 0.5px dashed greenyellow;
  }

  .timeline-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
